
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: #000000;
    padding: 24px;
}
.sidebar .logo img {
    width: 130px;
}
.sidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
}
.sidebar .navigation ul li {
    padding: 10px 0px;
}
.sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}
.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
    color: #ffffff;
}
.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa {
    color: #b3b3b3;
}
.sidebar .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
}
.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:hover .fa:active,
.sidebar .navigation ul li a:hover .fa:focus {
    color: #ffffff;
}
.sidebar .policies {
    position: absolute;
    bottom: 100px;
}
.sidebar .policies ul {
    list-style: none;
}
.sidebar .policies ul li {
    padding-bottom: 5px;
}
.sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}
.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
    text-decoration: underline;
}
